
Screen {
    align: center middle;
}

#title {
    text-align: center;
    width: 100%;
    margin-bottom: 1;
}

#subtitle {
    text-align: center;
    width: 100%;
    margin-bottom: 2;
}

TabPane {
    padding: 2 5;
}
