<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <div class="w3-black">
        <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
        <script>
            kofiWidgetOverlay.draw('kenmorel', {
                'type': 'floating-chat',
                'floating-chat.donateButton.text': 'Donate',
                'floating-chat.donateButton.background-color': '#441122',
                'floating-chat.donateButton.text-color': '#fff'
            });
        </script>
        <h1 class="w3-container w3-large">ken-morel</h1>

        <div>
            <div class="w3-container w3-leftbar w3-center w3-large">
                
            </div>
            <h1 class="w3-dark-blue w3-round-large w3-cursive w3-center">who am I?</h1>
            <p class="w3-dark-green w3-padding-large w3-container w3-pale-blue w3-padding-64">
                <img src="/static/ama.png" height="300" class="w3-circle" />
                <span class="w3-right-align w3-right w3-xxlarge">
                        A full-stack web developer
                </span>
            </p>
        </div>
        <div>
            <img src="https://ken-morel-api.up.railway.app/counters/portfolio/add.svg" alt="">
        </div>

    </div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
